:root {
	/* Fonts based on https://systemfontstack.com/ */
	--main-content-font: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
	--title-font: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
	--sans-serif: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	--mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	--primary-hue: 35deg;
	--primary-color: hwb(var(--primary-hue) 12% 6%);
	--primary-color-major: hwb(var(--primary-hue) 24% 0%);
	--background-0: hwb(0deg 98% 2%);
	--background-1: hwb(0deg 80% 20%);
	--text-main: black;
	--text-muted: hwb(0deg 25% 75%);
	--highlight: hwb(60 0% 0%);
	--text-highlight: black;
	--link: initial;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-0: hwb(0deg 2% 98%);
		--background-1: hwb(0deg 12% 88%);
		--text-main: hwb(0deg 80% 20%);
		--text-muted: hwb(0deg 60% 40%);
		--highlight: hwb(60 0% 20%);
		--link: hwb(200, 10%, 5%);
	}

	img,
	video {
		opacity: 0.8;
	}
}

body {
	font-family: var(--main-content-font);
	font-size: 1.15rem;
	font-weight: 400;
	line-height: 1.875rem;
	word-wrap: break-word;
	color: var(--text-main);
	background: var(--background-0);
	text-rendering: optimizeLegibility;
}

body>header img {
	border-radius: 15%;
}

main>article {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--background-1);
	border-radius: .25rem;
}

article>small::before,
header small::before {
	content: "— ";
}

article:first-child {
	border-bottom: 1px solid var(--background-1);
}

article:first-child>a {
	text-decoration: none;
}

nav {
	color: var(--primary-color-minor);
	font-family: var(--title-font);
	border-bottom: 1px solid var(--background-1);
}


nav ol,
nav ul {
	list-style-type: none;
}

aside {
	background-color: var(--background-1);
	border-radius: 12px;
}

h1 {
	max-width: 32rem;
	font-family: var(--title-font);
	font-size: 2.6rem;
	font-weight: 200;
	line-height: 1.1;
	margin-bottom: .5rem;
}

h2 {
	font-size: 1.6rem;
}

h2,
h3,
h4,
h5,
h6,
th {
	font-family: var(--title-font);
	font-weight: 200;
	line-height: 1.1;
}

blockquote,
q {
	border-left: 4px solid var(--primary-color);
	font-style: italic;
}

blockquote>footer {
	font-style: normal;
	border: 0;
}

blockquote cite {
	font-style: normal;
}

address {
	font-style: normal;
}

mark {
	background-color: var(--highlight);
	border-radius: 2px;
	color: var(--text-highlight);
}

a {
	color: var(--link);
}

a:hover {
	text-decoration: none;
}

a>code,
a>strong {
	color: inherit;
}

a>svg {
	color: var(--primary-color);
}

a>svg:hover {
	color: var(--primary-color-major);
}

code,
samp,
time,
kbd,
pre,
var {
	font-family: var(--mono);
}

b,
strong {
	font-weight: bolder;
}

legend {
	font-size: 0.9em;
	font-weight: 600;
}

small,
small::before {
	color: var(--text-muted);
	font-size: 80%;
}

code,
samp,
time {
	background: var(--background-1);
	border-radius: 6px;
	font-size: 90%;
}

pre>code {
	padding: 10px;
	display: block;
	overflow-x: auto;
}

abbr[title] {
	text-decoration: underline dotted;
}

kbd {
	border-style: solid;
	border-width: 1px 1px 3px 1px;
	border-radius: 6px;
	padding: 0.1rem 0.4rem;
}

hr {
	border: none;
	border-top: 1px solid var(--background-1);
}

table {
	border-collapse: collapse;
}

td,
th {
	word-wrap: break-word;
	width: fit-content;
}

thead {
	border-bottom: 1px solid var(--background-1);
}

tfoot {
	border-top: 1px solid var(--background-1);
}

tbody tr:nth-child(odd) {
	background-color: var(--background-1);
}

details {
	border: 1px solid var(--text-main);
	border-radius: 6px;
}

details[open] {
	padding: 0.5em;
}

summary {
	font-weight: bold;
	cursor: pointer;
}

details[open] summary {
	border-bottom: 1px solid var(--text-main);
	margin-bottom: 0.5em;
}

body>footer {
	border-top: 1px solid var(--background-1);
}

@media print {

	body,
	pre,
	code,
	summary,
	details {
		background-color: #fff;
	}

	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	pre,
	code,
	footer,
	summary,
	strong {
		color: #000;
	}

	tbody tr:nth-child(even) {
		background-color: #f2f2f2;
	}

	a {
		color: #00f;
		text-decoration: underline;
	}
}