<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ $title := .article_content | grep "^# " | strings.ReplaceAll "# " "" | strings.Trim "\n" -}}
    <title>{{ $title }}</title>
    {{ $description := .article_content | grep "TL;DR" | strings.ReplaceAll "**TL;DR** " "" | strings.Trim " \n" -}}
    <meta name="description" content="{{ $description }}">
    {{ $changelogs := .changelog | csvByColumn "|" "dates|datetimes|authors|messages" -}}
    <meta name="author" content="{{ index $changelogs.authors 0 }}">
  
    <meta property="og:type" content="article">
    <meta property="og:section" content="Technology">
    <meta property="og:title" content="{{ $title }}">
    <meta property="og:description" content="{{ $description }}">
    {{ $datetimes := (.changelog | csvByColumn "|" "date|datetime|author|message").datetime -}}
    <meta property="og:published_time" content="{{ index ($changelogs.datetimes | reverse) 0 }}">
    <meta property="og:modified_time" content="{{ index $changelogs.datetimes 0 }}">


    <link rel="icon" href="media/favicon.svg">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" media="screen" />
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark.css"
        media="screen and (prefers-color-scheme: dark)" />
</head>

<body>
{{ .article_content | cmark }}
</body>

</html>