<!DOCTYPE html>
<html>

<head>
    {% include "head_common.html.j2" %}

    {% if description -%}
    <meta name="description" content="{{ description }}">
    {% endif -%}
    <meta name="author" content="{{ commits[-1].author.name }}">
    <meta property="article:published_time" content="{{ commits[-1].iso_time }}">
    <meta property="article:modified_time" content="{{ commits[0].iso_time }}">
</head>

<body>
    {% include "navbar.html.j2" %}
    <article>
        <header>
            <h1>{{ title }}</h1>
            <blockquote>
                {{- commits[-1].human_time }}
                {%- if commits|length > 1 -%}
                , last edited on {{ commits[0].human_time }}
                {%- endif -%}
            </blockquote>
            {% if description -%}
            <p>{{ description }}</p>
            {%- endif %}
        </header>
        {{ main_content }}
        <footer>
            <p>Last changes:</p>
            <dl>
                {%- for commit in commits[:4] %}
                <dt>{{ commit.human_time }}</dt>
                <dd>{{ commit.message|trim }}</dd>
                {%- endfor %}
            </dl>
        </footer>
    </article>
    {% include "footer.html.j2" %}
</body>

</html>