<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ $title := .page_content | grep "-m" "1" "^# " | strings.ReplaceAll "# " "" | strings.Trim "\n" -}}
    <title>{{ $title }}</title>
    {{ $description := .page_content | grep "-m" "1" "-A" "2"  "^# " -}}
    {{ if contains $description "> " -}}
    {{ $description := .page_content | grep "-m" "1" "^> " | strings.ReplaceAll "> " "" | strings.Trim " \n" -}}
    <meta name="description" content="{{ $description }}">
    {{ end -}}
    {{ $changelogs := .changelog | csvByColumn "|" "dates|datetimes|authors|messages" -}}
    <meta name="author" content="{{ index $changelogs.authors 0 }}">
    <meta property="article:published_time" content="{{ index ($changelogs.datetimes | reverse) 0 }}">
    {{ if gt (len $changelogs.datetimes) 1 -}}
    <meta property="article:modified_time" content="{{ index $changelogs.datetimes 0 }}">
    {{ end -}}

    <link rel="icon" href="/media/favicon.svg">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" media="screen" />
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark.css"
        media="screen and (prefers-color-scheme: dark)" />
</head>

<body>
{{ .page_content | cmark }}
</body>

</html>